/* This file is for your main application CSS */
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
html{
  box-sizing: border-box;
  height: 100vh;
}
*,
:before,
:after{
  box-sizing: inherit;
}

.title{
   color: #fff;
   font-family: 'Londrina Outline', sans-serif;
   font-weight: 700;
   text-align: center;
   text-transform: uppercase;
   text-shadow: 0 0 5px #ff7bac,
  	       0 0 10px #ff7bac,
      	       0 0 20px #ff7bac,
 	       0 0 40px #ff7bac,
 	       0 0 80px #ff7bac,
 	       0 0 100px #ff7bac,
 	       0 0 12px #ff7bac;
   animation: blink 3s infinite linear alternate;
}
.title > .letter{
   margin: 0 9px;
}
@keyframes blink{
  60%, 70%, 79%{
    opacity: 1;
  }
  65%, 67%, 75%, 78%{
    opacity: 0.2;
  }
  66%, 69%, 77%{
    opacity: 0.8;
  }

}
.glowtext{
  color: #d6d1e8;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; 
  text-shadow: #a48ff2 2px 2px 10px;
}
.glowtext2{
  font-weight: 400 !important; 
  font-family: 'Pacifico', sans-serif;
}
.subtitle{
  color: #d6d1e8;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  background: rgb(0,0,0,0.7);
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: #a48ff2 2px 2px 10px;
  animation: border-flicker 6s ease-in-out 8.15s infinite alternate both;
}
.subtitle2{
  color: #d6d1e8;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 8px 16px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: #3c0064 2px 2px 10px;
}
.subtitle > .letter{
  margin: 0 5px;
}
.subtitle > .sep{
  display: inline-block;
  margin: 0 10px; 
}
.subtitle > .sl1{
  animation: flicker 6s ease-in-out 7.75s infinite alternate both;
}
.subtitle > .sl2{
  animation: flicker 6s ease-in-out 4.22s infinite alternate both;
}
.subtitle > .sl3{
  animation: flicker 6s ease-in-out 56.08s infinite alternate both;
}
.subtitle > .sl4{
  animation: flicker 6s ease-in-out 3.81s infinite alternate both;
}
.subtitle > .sl5{
  animation: flicker 6s ease-in-out 18.32s infinite alternate both;
}
.subtitle > .sl6{
  animation: flicker 6s ease-in-out 5.96s infinite alternate both;
}

.subtitle > .sl7{
  animation: flicker 6s ease-in-out 36.81s infinite alternate both;
}
.subtitle > .sl8{
  animation: flicker 6s ease-in-out 5.12s infinite alternate both;
}
.subtitle > .sl9{
  animation: flicker 6s ease-in-out 17.05s infinite alternate both;
}
.subtitle > .sl10{
  animation: flicker 6s ease-in-out 8.64s infinite alternate both;
}
.subtitle > .sl11{
  animation: flicker 6s ease-in-out 3.89s infinite alternate both;
}

.subtitle > .sl12{
  animation: flicker 6s ease-in-out 4.49s infinite alternate both;
}
.subtitle > .sl13{
  animation: flicker 6s ease-in-out 15.91s infinite alternate both;
}
.subtitle > .sl14{
  animation: flicker 6s ease-in-out 7.05s infinite alternate both;
}
.subtitle > .sl15{
  animation: flicker 6s ease-in-out 3.72s infinite alternate both;
}
.subtitle > .sl16{
  animation: flicker 6s ease-in-out 78.41s infinite alternate both;
}

@keyframes flicker{
  0%, 2%, 35%, 37%, 39%, 41%, 100%{
    opacity: 1;
  }
  1%, 3%, 34%, 36%, 38%, 40%{
    opacity: 0.1;
  }
}

@keyframes border-flicker{
  0%, 2%,4%, 6%,33%, 37%, 39%, 41%, 100%{
    border: 2px solid white;
    box-shadow: #a48ff2 0px 0px 10px, inset #148ff2 2px 2px 10px;
  }
  1%, 3%, 5%, 34%, 36%, 38%, 40%{
    border-color: transparent;
    box-shadow: unset;
  }
}

.social-icon{
  filter: drop-shadow(0 0 50px rgba(195, 55, 80, 0.50));
}
.social-icon2{
  width: 100%;
  height: 100%;
  fill: #3b82f6; 
  filter: drop-shadow(0 0 50px rgba(195, 55, 80, 0.50));
}
.social-icon2:hover{
  fill: #ec4899;  
}
/* Box Animation */
.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  transition-timing-function: linear;
  border-radius: 5px;
  overflow: hidden;
  filter: drop-shadow(0 0 50px rgba(237, 250, 255, 0.50));
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 22%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 34px;
  height: 34px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 45%;
  width: 50px;
  height: 50px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
.bg-bubbles li:nth-child(11) {
  left: 12%;
  width: 100px;
  height: 100px;
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
 -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

@-webkit-keyframes square {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh) rotate(720deg);
  }
}
@keyframes square {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh) rotate(720deg);
  }
}
.wrapper {
  #background: #50a3a2;
  #background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin-top: 0px;
  overflow: hidden;
  z-index: -1;
}
.wrapper.form-success .container h1 {
  transform: translateY(85px);
}
.glasscard{
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius: 15px;
  background: rgba(255,255,255,0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(255,255,255, 0.5);
  border-left: 1px solid rgba(255,255,255, 0.5);
  backdrop-filter: blur(5px); 
}
.glasscard2{
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(5px); 
}

.invisible-scroll::-webkit-scrollbar{
  display: none;
}
.invisible-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.fader{
  position: relative;
}
.fader:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 0;
  pointer-events: none;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  width: 100%;
  height: 4em;
}
.fade_title{
  font-weight: bold;
  color: rgba(255,255,255,0.3);
}
.crownicon{
  height: 100%;
  width: 100%;
  fill: rgb(250, 204, 21);
  stroke: rgb(202,138,4);
  stroke-width: 5px;
  padding: 5px;
}
.sans{
  font-family: 'Open Sans', sans-serif;
 
}
