/* Import scoped CSS rules for components */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Custom Files*/
@import "./_components.scss";
@import "./_splash.scss";

/* This file is for your main application CSS */
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

html{
  box-sizing: border-box;
  height: 100vh;
}
*,
:before,
:after{
  box-sizing: inherit;
}
body{
  background: radial-gradient(#222244 0%, #001D3A 50%);
  background-repeat: repeat-y;
  height: 100vh;  
  & >div{
    @apply h-full;
  }
}

/* book css */
.book_main{
  @apply h-full;
  & section{
    @apply h-full border-slate-300;
  } 
}
.navmenu{
  @apply w-full;
  & li{
    @apply text-lg border-b border-slate-800 cursor-pointer px-3 py-2 hover:shadow-inner hover:font-bold hover:bg-[rgba(15,118,110,0.25)] hover:text-indigo-300;
  }
}
.nav_mobile{
  @apply w-full;
  & li{
    @apply flex flex-col justify-center w-1/6;
    & svg{
      @apply mx-auto w-10 h-10 p-1 fill-amber-700;
    }
    & span{
      @apply w-full text-center text-sm;
    }
  }
}
.nav_device{
  @apply w-full;
  & li{
    @apply flex justify-items-start;
    & svg{
     @apply w-6 h-6 fill-amber-700 mr-3;
    }
  }
}

.glassy_bg{
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(5px); 
}
.glassy_modal{
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius: 15px;
  background: rgba(255,255,255,0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(255,255,255, 0.5);
  border-left: 1px solid rgba(255,255,255, 0.5);
  backdrop-filter: blur(5px);
}

/* GameList */
.moneyline_button{
  @apply ring-offset-4 ring-stone-600 rounded ring p-1 h-10 w-14 text-slate-200 bg-slate-500 hover:bg-slate-700;
}
.spread_button{
  @apply flex flex-col ring-offset-4 ring-stone-600 rounded ring p-1 h-10 w-14 text-slate-200 bg-slate-500 hover:bg-slate-700;
  
  span:nth-child(1){
    @apply font-bold text-xs w-full text-center;
  }
  
  span:nth-child(2){
    @apply text-sm w-full text-center leading-[1.4];
  }
}
