# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Temporary files, for example, from tests.
/tmp/

#Leave out Elixir-ls as it is a programming aide
/elixir-ls/
/apps/kdabet_frontend/package-lock.json
/apps/kdabet_frontend/*.lock
/apps/kdabet_frontend/priv/static/kingsdata.txt
/apps/kdabet_frontend/.pact-history
/apps/kadenakings/
/apps/crashgame/
/apps/kdabet_frontend/node_modules/

##static drops
/apps/kdabet_frontend/priv/static/kingsdata.txt.gz
/apps/kdabet_frontend/priv/static/kingsdata-*


